## Perform the following operations using Python on the Facebook metrics data sets 
a. Create data subsets 
b. Merge Data 
c. Sort Data 
d. Transposing Data 
e. Shape and reshape Data

In [49]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
df=pd.read_csv('dataset_Facebook.csv');

In [7]:
df

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0    139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1    139441;Status;2;12;3;10;0;10460;19057;1457;136...
2    139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3    139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4    139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
..                                                 ...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

[500 rows x 1 columns]

In [9]:
print(df.isnull().sum());

Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions    0
dtype: int64

In [11]:
df.head(5)

  Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0  139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1  139441;Status;2;12;3;10;0;10460;19057;1457;136...
2  139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3  139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4  139441;Photo;2;12;2;3;0;7244;13594;671;410;580...

In [13]:
ds = pd.read_csv('dataset_Facebook.csv', delimiter=';')  # Assuming it's tab-separated

In [14]:
ds

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

### Creating 2 data subsets

In [17]:
subset1 = ds[ds['Page total likes'] <= 100000];

In [18]:
subset1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
438,98195,Link,2,3,6,6,0.0,5730,10083,103,71,97,8964,4830,92,2,32.0,15.0,49
439,98195,Photo,1,3,6,3,0.0,4898,7960,560,528,719,6380,3730,363,1,76.0,9.0,86
440,98195,Photo,1,3,5,10,0.0,4118,7355,546,526,675,6423,3466,379,1,28.0,7.0,36
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
442,98195,Photo,3,3,4,13,0.0,34480,191207,1591,1156,1926,184270,30720,1292,10,664.0,97.0,771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [19]:
subset2 = ds[ds['Page total likes'] > 100000];

In [20]:
subset2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,100732,Photo,1,3,6,17,0.0,11420,23855,1411,1342,8049,16634,8032,865,12,211.0,14.0,237
434,100732,Photo,1,3,6,15,0.0,5704,10510,452,450,2895,9348,5388,361,1,15.0,1.0,17
435,100732,Photo,1,3,6,15,0.0,7192,12811,587,554,3941,11519,6616,472,11,95.0,4.0,110
436,100732,Photo,1,3,6,13,1.0,9604,16557,1061,1037,9614,13618,7984,705,16,127.0,0.0,143
437,100732,Photo,1,3,6,10,0.0,122944,457509,1373,1268,2106,72846,13184,475,0,136.0,13.0,149

### Merge Data

In [36]:
merged_data = pd.merge(subset1, subset2,on='Type',how='inner')

In [37]:
merged_data.head(5)

,Page total likes_x,Type,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
0,98195,Link,2,3,6,6,0.0,5730,10083,103,...,118,104,130,6282,3100,106,0,16.0,2.0,18
1,98195,Link,2,3,6,6,0.0,5730,10083,103,...,517,366,460,12078,6752,319,6,187.0,18.0,211
2,98195,Link,2,3,6,6,0.0,5730,10083,103,...,134,109,170,2330,1377,101,7,29.0,10.0,46
3,98195,Link,2,3,6,6,0.0,5730,10083,103,...,206,158,223,6734,3492,138,4,57.0,10.0,71
4,98195,Link,2,3,6,6,0.0,5730,10083,103,...,97,83,126,2307,1180,77,6,18.0,8.0,32

### Sort Data

In [38]:
sorted_data=merged_data.sort_values(by='Page total likes_x', ascending=True)

In [39]:
sorted_data

,Page total likes_x,Type,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
20815,81370,Photo,2,1,4,4,NaN,4188,7292,564,...,1373,1268,2106,72846,13184,475,0,136.0,13.0,149
19848,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,393,348,476,3332,1788,297,11,68.0,11.0,90
19849,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,374,335,458,3247,1740,278,0,62.0,10.0,72
19850,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,544,405,602,4046,2280,368,5,223.0,35.0,263
19851,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,330,280,352,2293,1354,234,0,61.0,6.0,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,1382,1229,1871,32470,16480,760,9,197.0,28.0,234
1082,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,985,705,940,8419,5840,594,4,330.0,29.0,363
1083,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,884,715,1034,2289,1408,340,0,148.0,7.0,155
1074,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,1160,1138,2042,20024,10568,920,5,54.0,7.0,66
0,98195,Link,2,3,6,6,0.0,5730,10083,103,...,118,104,130,6282,3100,106,0,16.0,2.0,18

In [40]:
sort_data=sorted_data

In [41]:
sort_data

,Page total likes_x,Type,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
20815,81370,Photo,2,1,4,4,NaN,4188,7292,564,...,1373,1268,2106,72846,13184,475,0,136.0,13.0,149
19848,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,393,348,476,3332,1788,297,11,68.0,11.0,90
19849,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,374,335,458,3247,1740,278,0,62.0,10.0,72
19850,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,544,405,602,4046,2280,368,5,223.0,35.0,263
19851,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,330,280,352,2293,1354,234,0,61.0,6.0,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,1382,1229,1871,32470,16480,760,9,197.0,28.0,234
1082,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,985,705,940,8419,5840,594,4,330.0,29.0,363
1083,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,884,715,1034,2289,1408,340,0,148.0,7.0,155
1074,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,1160,1138,2042,20024,10568,920,5,54.0,7.0,66
0,98195,Link,2,3,6,6,0.0,5730,10083,103,...,118,104,130,6282,3100,106,0,16.0,2.0,18

### Transposing Data

In [42]:
transpo_data=sorted_data.transpose()

In [43]:
transpo_data

,20815,19848,19849,19850,19851,19852,19853,19854,19855,19856,...,1076,1077,1078,1079,1080,1081,1082,1083,1074,0
Page total likes_x,81370,81370,81370,81370,81370,81370,81370,81370,81370,81370,...,98195,98195,98195,98195,98195,98195,98195,98195,98195,98195
Type,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,...,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Link
Category_x,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
Post Month_x,1,1,1,1,1,1,1,1,1,1,...,3,3,3,3,3,3,3,3,3,3
Post Weekday_x,4,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,6
Post Hour_x,4,2,2,2,2,2,2,2,2,2,...,4,4,4,4,4,4,4,4,4,6
Paid_x,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
Lifetime Post Total Reach_x,4188,3778,3778,3778,3778,3778,3778,3778,3778,3778,...,1845,1845,1845,1845,1845,1845,1845,1845,1845,5730
Lifetime Post Total Impressions_x,7292,7216,7216,7216,7216,7216,7216,7216,7216,7216,...,2670,2670,2670,2670,2670,2670,2670,2670,2670,10083
Lifetime Engaged Users_x,564,625,625,625,625,625,625,625,625,625,...,9,9,9,9,9,9,9,9,9,103
Lifetime Post Consumers_x,524,572,572,572,572,572,572,572,572,572,...,9,9,9,9,9,9,9,9,9,71
Lifetime Post Consumptions_x,743,795,795,795,795,795,795,795,795,795,...,9,9,9,9,9,9,9,9,9,97
Lifetime Post Impressions by people who have liked your Page_x,3861,4742,4742,4742,4742,4742,4742,4742,4742,4742,...,1614,1614,1614,1614,1614,1614,1614,1614,1614,8964
Lifetime Post reach by people who like your Page_x,2200,2388,2388,2388,2388,2388,2388,2388,2388,2388,...,1008,1008,1008,1008,1008,1008,1008,1008,1008,4830
Lifetime People who have liked your Page and engaged with your post_x,316,363,363,363,363,363,363,363,363,363,...,9,9,9,9,9,9,9,9,9,92
comment_x,0,4,4,4,4,4,4,4,4,4,...,0,0,0,0,0,0,0,0,0,2
like_x,91.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0
share_x,28.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
Total Interactions_x,119,115,115,115,115,115,115,115,115,115,...,0,0,0,0,0,0,0,0,0,49
Page total likes_y,100732,134879,134879,134879,134879,134879,133679,133679,133679,133679,...,125612,125612,124940,124940,124940,124940,124940,124940,125612,138414
Category_y,1,2,1,2,2,3,2,3,3,2,...,3,2,1,2,3,1,3,1,1,1
Post Month_y,3,9,9,9,9,9,9,9,8,8,...,6,6,6,6,6,6,6,6,6,12
Post Weekday_y,6,2,1,1,7,7,2,2,1,1,...,1,7,7,6,6,5,5,4,2,7
Post Hour_y,10,3,10,6,10,4,10,3,10,4,...,3,11,4,9,2,13,3,12,2,10
Paid_y,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0
Lifetime Post Total Reach_y,122944,2363,2232,4048,1804,2351,3100,2360,19648,2295,...,2763,3558,8324,6952,2823,63840,11608,58304,11620,3454
Lifetime Post Total Impressions_y,457509,4223,4005,7217,2968,4028,5388,4004,33643,3721,...,4388,5396,14480,11469,4955,102620,15323,80871,21564,6853
Lifetime Engaged Users_y,1373,393,374,544,330,371,518,436,1359,377,...,564,621,840,909,552,1382,985,884,1160,118
Lifetime Post Consumers_y,1268,348,335,405,280,298,422,365,695,324,...,523,568,834,779,503,1229,705,715,1138,104
Lifetime Post Consumptions_y,2106,476,458,602,352,392,609,486,990,402,...,650,775,1388,1229,622,1871,940,1034,2042,130
Lifetime Post Impressions by people who have liked your Page_y,72846,3332,3247,4046,2293,3112,3927,2757,24034,3121,...,3519,3708,13786,7431,3579,32470,8419,2289,20024,6282
Lifetime Post reach by people who like your Page_y,13184,1788,1740,2280,1354,1791,2274,1603,13528,1882,...,2124,2392,7736,4292,1966,16480,5840,1408,10568,3100
Lifetime People who have liked your Page and engaged with your post_y,475,297,278,368,234,288,367,300,1020,269,...,375,403,662,646,348,760,594,340,920,106
comment_y,0,11,0,5,0,1,3,2,9,0,...,0,0,0,11,1,9,4,0,5,0
like_y,136.0,68.0,62.0,223.0,61.0,104.0,146.0,102.0,766.0,63.0,...,62.0,78.0,14.0,231.0,72.0,197.0,330.0,148.0,54.0,16.0
share_y,13.0,11.0,10.0,35.0,6.0,12.0,15.0,15.0,43.0,7.0,...,10.0,16.0,1.0,43.0,16.0,28.0,29.0,7.0,7.0,2.0
Total Interactions_y,149,90,72,263,67,117,164,119,818,70,...,72,94,15,285,89,234,363,155,66,18

### Shape and Reshape

In [45]:
sort_data.shape

(20816, 37)

In [46]:
reshaped_data = pd.melt(sort_data, id_vars=['Type', 'Category_x', 'Post Month_x'], var_name='Variable', value_name='Value')

In [47]:
reshaped_data

         Type  Category_x  Post Month_x              Variable    Value
0       Photo           2             1    Page total likes_x  81370.0
1       Photo           1             1    Page total likes_x  81370.0
2       Photo           1             1    Page total likes_x  81370.0
3       Photo           1             1    Page total likes_x  81370.0
4       Photo           1             1    Page total likes_x  81370.0
...       ...         ...           ...                   ...      ...
707739  Photo           1             3  Total Interactions_y    234.0
707740  Photo           1             3  Total Interactions_y    363.0
707741  Photo           1             3  Total Interactions_y    155.0
707742  Photo           1             3  Total Interactions_y     66.0
707743   Link           2             3  Total Interactions_y     18.0

[707744 rows x 5 columns]

In [48]:
reshaped_data.shape

(707744, 5)

In [1]:
this shell is for theory purpose 

delete it 

Certainly! Let's break down the code step by step:

1. **Importing Libraries**: 
    ```python
    import pandas as pd
    import numpy as np
    ```

    Here, we import the Pandas library and NumPy library with the aliases `pd` and `np`, respectively. Pandas is used for data manipulation and analysis, while NumPy is often used for numerical operations and array handling.

2. **Reading the Dataset**:
    ```python
    df = pd.read_csv('dataset_Facebook.csv')
    ```

    This line reads a CSV file named `'dataset_Facebook.csv'` into a Pandas DataFrame named `df`.

3. **Checking for Missing Values**:
    ```python
    print(df.isnull().sum())
    ```

    This line prints the count of missing values in each column of the DataFrame `df`.

4. **Displaying the First Few Rows**:
    ```python
    df.head(5)
    ```

    This line displays the first five rows of the DataFrame `df`.

5. **Reading the Dataset with a Different Delimiter**:
    ```python
    ds = pd.read_csv('dataset_Facebook.csv', delimiter=';')
    ```

    Here, the dataset is read again, assuming a different delimiter (`;`) for separating values in the CSV file.

6. **Creating Subsets based on a Condition**:
    ```python
    subset1 = ds[ds['Page total likes'] <= 100000]
    subset2 = ds[ds['Page total likes'] > 100000]
    ```

    Two subsets (`subset1` and `subset2`) are created based on the condition of the `'Page total likes'` column.

7. **Merging Subsets**:
    ```python
    merged_data = pd.merge(subset1, subset2, on='Type', how='inner')
    ```

    The subsets `subset1` and `subset2` are merged on the common column `'Type'` using an inner join.

8. **Sorting Data**:
    ```python
    sorted_data = merged_data.sort_values(by='Page total likes_x', ascending=True)
    ```

    The merged data is sorted based on the `'Page total likes_x'` column in ascending order.

9. **Transposing Data**:
    ```python
    transpo_data = sorted_data.transpose()
    ```

    The sorted data is transposed, swapping rows and columns.

10. **Getting the Shape of Data**:
    ```python
    sort_data.shape
    ```

    The shape of the DataFrame `sort_data` is retrieved, indicating the number of rows and columns.

11. **Reshaping Data**:
    ```python
    reshaped_data = pd.melt(sort_data, id_vars=['Type', 'Category_x', 'Post Month_x'], var_name='Variable', value_name='Value')
    ```

    The DataFrame `sort_data` is melted, converting it from wide to long format, with specified identifier variables (`id_vars`) and variable and value names (`var_name` and `value_name`).

12. **Displaying Reshaped Data**:
    ```python
    reshaped_data
    ```

    Finally, the reshaped DataFrame `reshaped_data` is displayed.

Each step performs specific operations on the dataset using Pandas DataFrame methods and functions to manipulate, analyze, and reshape the data.

SyntaxError: unterminated string literal (detected at line 5) (3666284772.py, line 5)